body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

body > h1:first-of-type {
    padding: 20px;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    margin: 0 0 40px 0;
    background-color: #d0d9e3;
}
