.line {
    width: 100%;
    background-color: blue;
    height: 25px;
    margin-bottom: 10px;

    transition: width;
    transition-duration: 1s;
}

body:hover .line {
    width: 20px;
    background-color: rgb(255, 0, 234);
}

.ease {
    transition-timing-function: ease;
}

.linear {
    transition-timing-function: linear;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.cube {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
}
