body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.box-red {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.box-red {
    background-color: #f00;
    transition-property: all;
    transition-duration: 1s;
}

.box-red:hover {
    background-color: #ff0;
    transition-property: background-color, width;
    transition-duration: 1s;
    width: 200px;
}
