body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #E9EDF3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 2rem;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.8rem;
}

button {
    width: 150px;
    height: 50px;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: #D9C8FF;
    background-color: #3817EE;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

h2 {
    font-size: 23px;
}

a {
    color: black;
}