@charset "UTF-8";

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}


header {
    width: 1000px;
    height: 500px;
    border: 7px dashed rgb(98, 0, 255);
    margin: auto;
    background-color: rgb(27, 35, 156);
    background-image: url(images/programmer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}